
<div class="btn-group">
  <button type="button" class="btn btn-primary">
    Sorting By
  </button>
  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <div class="dropdown-menu"> 
    <div class="dropdown-divider"></div>
    <%= link_to 'Newest', profile_comments_path(order: 'new'), 
      class: ' dropdown-item', id: 'ord_new'%>
    <%= link_to 'Oldest', profile_comments_path(order: 'old'), 
      class: ' dropdown-item', id: 'ord_old'%>
    <div class="dropdown-divider"></div>
  </div>
</div> 

<ul class='media-list'>
  <% @comments.each do |comment| %> 
  <li class="media">
    <% if comment.user.profile.avatar.attached? %>
    <%= image_tag comment.user.profile.avatar, 
      class: 'float-left img-thumbnail thumbnail img-fluid col-2' %>
      <% end %>
      <div class="media-body">
        <span class="text-muted pull-right">
          <small class="text-muted">
            <%= comment.created_at.strftime("Posted on %m/%d/%Y at: %I:%M%p") %>
          </small>
        </span>
        <strong class="text-success"><%= link_to "@#{comment.user.profile.nickname}", profile_path(comment.user.profile)%></strong>
        <p>
        <%= comment.body %>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <small class='text-muted'> <%= link_to 'Original Task', 
        task_path(comment.task)%> </small> 
      </div>
  </li>
  <hr>
  <br>
  <% end %> 
</ul> 
</div>
