<br>
<br> 
<div class='container'>
  <!-- NavTab --> 
  <div class='row justify-content-md-center'>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'Title(asc)', tasks_path(order: 'asc'), class: ((params[:order] == 'asc') ? "nav-link active" : "nav-link"), id: 'ord_new'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Title(des)', tasks_path(order: 'des'), class: ((params[:order] == 'des') ? "nav-link active" : "nav-link"), id: 'ord_new'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Newest', tasks_path(order: 'new'), class: ((params[:order] == 'new') ? "nav-link active" : "nav-link"), id: 'ord_new'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Oldest', tasks_path(order: 'old'), class: ((params[:order] == 'old') ? "nav-link active" : "nav-link"), id: 'ord_old'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Highest Priority', tasks_path(order: 'high'), class: ((params[:order] == 'high') ? "nav-link active" : "nav-link"), id: 'ord_high'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Lowest Priority', tasks_path(order: 'low'), class: ((params[:order] == 'low') ? "nav-link active" : "nav-link"), id: 'ord_low'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Complete First', tasks_path(order: 'comp'), class: ((params[:order] == 'comp') ? "nav-link active" : "nav-link"), id: 'ord_comp'%>
      </li>
      <li class="nav-item">
        <%= link_to 'Incomplete First', tasks_path(order: 'incomp'), class: ((params[:order] == 'incomp') ? "nav-link active" : "nav-link"), id: 'ord_incomp'%>
      </li>
    </ul>
  </div> 
  <!-- Task Display -->
  <%= render partial: 'partials/display' %>
</div>
