<h2> Welcome to Your TaskBoard, <%=current_user.email %></h2>
<p> Order Your Tasks </p>
<ul>
  <li> <%= link_to 'High First', tasks_path(order: 'high')%>  </li>
  <li> <%= link_to 'Low First', tasks_path(order: 'low')%>  </li>
  <li> <%= link_to 'Oldest First', tasks_path(order: 'old')%>  </li>
  <li> <%= link_to 'Newest First', tasks_path(order: 'new')%>  </li>
</ul>


<% @tasks.each do |task| %>
  <hr>
  <h3> <%= link_to task.title, task_path(task) %> </h3>
  <ul>
    <li>
      <h4> Description: </h4>
      <ul>
        <li> <%= task.description %> </li>
      </ul>
    </li>
    <br>
    <li>Priority: <%= task.priority %> </li>
  </ul> 
<% end %>
