<br>
<br>

<div class='container'>
<div class='row'>
  <div class='col-2'> 
    <div class="btn-group">
      <button type="button" class="btn btn-primary">Sorting By</button>
      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu"> 
        <div class="dropdown-divider"></div>
          <%= link_to 'Title(asc)', tasks_path(order: 'asc'), class: ' dropdown-item', id: 'ord_new'%>
          <%= link_to 'Title(des)', tasks_path(order: 'des'), class: ' dropdown-item', id: 'ord_new'%>
        <div class="dropdown-divider"></div>
          <%= link_to 'Newest', tasks_path(order: 'new'), class: ' dropdown-item', id: 'ord_new'%>
          <%= link_to 'Oldest', tasks_path(order: 'old'), class: ' dropdown-item', id: 'ord_old'%>
        <div class="dropdown-divider"></div>
          <%= link_to 'Highest Priority', tasks_path(order: 'high'), class: ' dropdown-item', id: 'ord_high'%>
          <%= link_to 'Lowest Priority', tasks_path(order: 'low'), class: ' dropdown-item', id: 'ord_low'%>
        <div class="dropdown-divider"></div>
          <%= link_to 'Complete First', tasks_path(order: 'comp'), class: ' dropdown-item', id: 'ord_comp'%>
          <%= link_to 'Incomplete First', tasks_path(order: 'incomp'), class: ' dropdown-item', id: 'ord_incomp'%>
      </div>
    </div> 

  </div>
  <div class='col-10'>
    <%= render partial: 'partials/display' %>
  </div>
  </div>
</div>
