<% @task.errors.full_messages.each do |error| %> 
  <p><%= error %> </p>

<% end %>

<%= form_for @task do |f| %>

  <div>
    <%= f.label :title, 'Task Title:' %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, 'Task Description:'%>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :priority, 'Priority:'%>
    <%= f.select(:priority, [['Low', 0], ['Medium', 1], ['High', 2]])%>
  </div>

  <%= f.submit %>
<% end %>
