<div class='container border'>
  <!-- Task Title and heading --> 
  <div class='row'>
    <h1 class='col', align='center'> <%= @task.title %> </h1>
  </div>

  <br>
  <!-- informarions about task creator --> 
  <div class='row'> 
    <p class='col-5'></p>
    <p class='col-4'> <strong>Owner</strong>: 
    <% if @task.user.profile.share %>
      <%= link_to @task.user.profile.nickname, profile_path(@task.user.profile.id) %> <% else %>
      <%= @task.user.profile.nickname %> 
    <% end %> 
    </p>
  </div>

  <br>

  <!-- current information about task --> 
  <div class='row'>
    <p class='col-4'></p>
    <p class='col-4 text-center text-wrap text-break'  align='center' style='white-space: initial;' > <%= @task.description.to_s %> </p>
  </div>
  <br>
  <div class='row text-center' align='center'> 
    <p class='col-4'></p>
    <p class='col-4 text-center'> <strong> Priority: </strong> <%= @task.priority.to_s.capitalize %> </p>
  </div> 
  <div class='row text-center' align='center'>
    <p class='col-4'></p>
    <p class='col-4'> <strong> Current Status</strong> <%= @task.status.to_s.capitalize %> </p>
  </div> 
  <div class='row text-center' align='center'>
    <p class='col-4'></p>
    <p class='col-4'>
      <strong> Privacy: </strong>
      <% if @task.share %>
        This Task is Public
      <% else %>
        This Task is Private
      <% end %>
    </p> 
  </div> 

  <!-- Privacy Setting --> 
  <div class='row text-center' align='center'>
    <p class='col-4'></p>
    <% if current_user == @task.user %>
      <%= form_for(@task, url: change_privacy_task_path, method: :post) do |f| %>
        <strong><%= f.label :share, 'Change Privacy:' %></strong>
        <%= f.select(:share, [['Private', false], ['Public', true]]) %>
        <%= f.hidden_field :task_id, value: params[:id] %>
        <%= f.submit 'Change Setting' %>
      <% end %>
    <% end %> 
  </div>

  <!-- Status Setting --> 
  <div class='row text-center' align='center'>
    <p class='col-4'></p>
    <% if current_user == @task.user %>
      <%= form_for(@task, url: change_status_task_path, method: :post) do |f| %>
        <strong><%= f.label :status, 'Change Status:' %></strong>
        <%= f.select(:status, [['Incomplete', 0], ['Complete', 10]]) %>
        <%= f.hidden_field :task_id, value: params[:id] %>
        <%= f.submit 'Change Status' %>
      <% end %>
    <% end %> 
  </div>
  <br>

  <!-- Eddit/Delete/Back Buttons--> 
  <div class='row text-center' align='center'>
    <p class='col-4'></p> 
    <% if current_user == @task.user %>
      <p class='btn btn-secondary col-2'> <%= link_to 'Edit Task', edit_task_path(@task), class: 'text-white'%> </p>
      <p class='btn btn-danger col-2'> <%= link_to 'Delete Task', confirm_delete_task_path(@task), class: 'text-white' %> </p>
    <% else %> 
      <%= link_to 'Go Back', :back, class: 'btn btn-secondary col-4' %>
    <% end %> 
  </div> 

  <!--Post Comment Section --> 
  <div class="row">
    <p class='col-4'></p>
    <div class="col-4 text-center">
      <div class="comment-wrapper">
        <div class="panel panel-info">
          <%= form_for(@comment, url: make_comment_task_path, method: :post) do |f| %>
            <div class='panel-heading'>
              <%= f.label :body, "Make a Comment", class: 'panel-heading', rows: '3', placeholder: 'your comment here...'%>
            </div>
            <div class='panel-body'>
              <%= f.text_area :body, class: 'form-controll', size: "30x5" %>
              <%= f.hidden_field :task_id, value: params[:id] %>
              <br>
              <% if current_user %> 
                <%= f.submit 'Post Comment', class: 'btn' %>
              <% end %>
            </div> 
          <% end %>
          <hr>
          <br>
          <div class="clearfix"></div> 
        </div>
      </div>

    </div>
  </div>
    <br>
    <div clas='row'> 
      <div class='col'>
        <ul class=" mx-5 nav nav-tabs">
          <li class="nav-item">
            <%= link_to 'Biggest Score', task_path(order: 'plus_score'),
              class: ((params[:order] == 'plus_score') ? "nav-link active" : "nav-link")%>
          </li>
          <li class="nav-item">
            <%= link_to 'Lowest Score', task_path(order: 'minus_score'),
              class: ((params[:order] == 'minus_score') ? "nav-link active" : "nav-link")%>
          </li>
          <li class="nav-item">
            <%= link_to 'Oldest', task_path(order: 'old'),
              class: ((params[:order] == 'old') ? "nav-link active" : "nav-link")%>
          </li>
          <li class="nav-item">
            <%= link_to 'Newest', task_path(order: 'new'),
              class: ((params[:order] == 'new') ? "nav-link active" : "nav-link")%>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <br>
    <!--Comment Section --> 
    <div class='row'>
    <% if @task_comments.any? %>
      <ul class='media-list'>
        <% @task_comments.each do |comment| %> 
          <li class="media">
            <% if comment.user.profile.avatar.attached? %>
              <%= image_tag comment.user.profile.avatar, class: 'float-left img-thumbnail thumbnail img-fluid col-2' %>
            <% end %>
            <div class="media-body">
              <span class="text-muted pull-right">
                <small class="text-muted"><%= comment.created_at.strftime("Posted on %m/%d/%Y at: %I:%M%p") %></small>
              </span>
                <strong class="text-success"><%= link_to "@#{comment.user.profile.nickname}", profile_path(comment.user.profile)%></strong>
              <p>
                <%= comment.body %>
              </p>
              <small class='text-muted'> 
                <!-- Delete Comment -->
                <% if comment.user == current_user %> 
                  <%= link_to delete_comment_task_path(comment_id: comment.id), 
                      method: :delete, data: {confirm: 'Delete Comment?'},
                      class: 'btn btn-outline-danger btn-sm' do %> 
                  <i class='fa fa-trash'> Delete</i>
                <% end %>
                <% else %>
                <%= button_tag class: 'btn btn-outline-default btn-sm' do %> 
                  <i class='fa fa-trash'> Delete</i>
                <% end %>
                <% end %> 
                <!-- Plus Comment --> 
                <% if current_user %>
                  <%= link_to pluses_path(comment_id: comment.id, task_id: @task ),
                    method: :post, class: ((comment.pluses.where(user: current_user)[0]) ? "btn btn-success btn-sm" : "btn btn-outline-success btn-sm") do %>
                    <i class='fa fa-plus-square'> Plus</i> 
                  <% end %> 
                  <!-- Minus Comment --> 
                  <%= link_to minuses_path(comment_id: comment.id, task_id: @task ),
                      method: :post, class: ((comment.minuses.where(user: current_user)[0]) ? "btn btn-danger btn-sm" : "btn btn-outline-danger btn-sm")do %>
                    <i class='fa fa-minus-square'> Minus</i>
                  <% end %>
                <% else %>
                    <i class='fa fa-plus-square btn btn-outline-success btn-sm'> Plus</i>
                    <i class='fa fa-minus-squarebtn btn-outline-danger btn-sm'> Minus</i> </i>
                <% end %> 
                <p class='text-right'> Total Score: <%= comment.score %> </p>
              </small> 
            </div>
          </li>
          <hr>
          <br>
        <% end %> 
      </ul> 
    <% end %> 
    </div>
  </div>


