<!-- Cards with tasks displayed in groups of 3 -->
<% @tasks.in_groups_of(3, false).each do |group| %>
  <div class='row card-deck '>
  <% group.each do |task| %> 
    <div class='card col-4 text-center'>
      <h3 class='card-title align-center'><%= task.title %> </h3>
      <div class='card-text h-100'>
        <h4> Description: </h4>
        <%= task.description %> 
      </div>
        <ul class='list-group list-group-flush'> 
          <li class='list-group-item'> Owner: <%= link_to task.user.profile.nickname, profile_path(task.user.profile.id) %> </li>
          <li class='list-group-item'> Status: <%= task.status.to_s.capitalize %> </li>
          <li class='list-group-item'> Priority: <%= task.priority.to_s.capitalize %> </li>
          <% if task.share %> 
            <li class='list-group-item'> This Task is Public </li>
          <% else %>
            <li class='list-group-item'> This Task is Private </li> 
          <% end %>
        </ul>
      <div class='card-body'>
        <%= link_to "View #{task.title}", task, class: 'btn btn-outline-primary' %> 
      </div>
    </div>
  <% end %>
</div>
<br>
<% end %>
