<nav class="navbar navbar-expand-lg navbar-light bg-dark">

    <!--Navbrand -->
    <%= button_to root_path, method: :get, class: 'nav-brand btn btn-outline-primary' do %>
      <i class="fa fa-home" aria-hidden="true"></i>
    <% end %> 

    <!--Navbar for loged in user -->
    <% if (user_signed_in?)%> 
      <!-- Dropdown -->
      <div class="btn-group ml-3"> 
        <%= link_to 'Task Board', tasks_path, class: 'btn btn-primary'%>
        <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-divider"></div>
          <%= link_to 'Complete Tasks', complete_tasks_path, class: 'dropdown-item' %> 
          <%= link_to 'Incomplete Tasks', incomplete_tasks_path, class: 'dropdown-item' %> 
          <div class="dropdown-divider"></div>
            <%= link_to 'Create a Task', new_task_path, class: 'btn btn-outline-success ml-3' %>
        </div>
      </div> 

      <!-- Profile Settings -->
      <!-- Dropdown -->
      <div class="btn-group ml-3">
        <button type="button" class="btn btn-outline-success"> My Account</button> 
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu"> 
          <% if current_user.profile && current_user.profile.id %>
            <%= link_to 'My Profile', profile_path(current_user.profile),
              class: 'btn btn-outline-success ml-2' %>
            <%= link_to 'My Comments', profile_comments_path(current_user.profile),
              class: 'btn btn-outline-success ml-2' %>
      <% end %>
        </div>
      </div> 




      

      <!-- Search -->
      <div class='nav-item text-white nav-link ml-auto mr-auto'>
        <%= form_with(url: search_tasks_path, local: true) do %>
          <%= label_tag(:q, 'Search Tasks:', class: '') %>
          <%= text_field_tag :q, nil, class: 'mr-0' %>
          <%= button_tag type: 'submit', class: "btn btn-outline-primary btn-sm ml-0", id: 'search-btn' do %>
              <i class="fa fa-search " aria-hidden="true"></i>
            <% end %>
        <% end %>
      </div> 

      <!-- Log Out -->
      <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger ml-auto'%> 

    <!-- Navbar for Visitor -->
    <% else %> 
     <%=link_to 'Log In', new_user_session_path, class: 'btn btn-outline-primary ml-auto' %>
     <%=link_to 'Create Account', new_user_registration_path, class: 'btn btn-outline-success ml-3' %>
    <% end %>
    </nav>
