<!DOCTYPE html>
<html>
  <head>
    <title>ToDoList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <% if (user_signed_in?)%>
      <p><%=link_to 'Log Out', destroy_user_session_path, method: :delete %></p>
      <p><%= link_to 'Create a Task', new_task_path %> </p>
      <p><%= link_to 'Task Board', tasks_path %> </p>
    <% else %>
     <p> <%=link_to 'Log In', new_user_session_path %></p>
    <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
  </body>
</html>
